
{% extends 'posts/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">{{post.title}}</h3>
<div class="card">
  <div class="card-content">
    {{post.body}}
  </div>
  <div class="card-action">
    Last Updated on : {{post.created_at}}
  </div>
  <div class="card-action">&nbsp</div>
  <div class="card-action">
    COMMENTS:
  </div>
  	<ul class="collection">
  	{% for comment in comments %}
    	<div class="card-action">{{comment.comment_text}}</div>
    {% endfor %}
	</ul>
  </div>
</div>

<ul  class="center-align red lighten-5">
       <li>
           <h5><a href="/admin/rilblog/comments/add/" class="addlink">
                Add comments
           </a></h5>
       </li>
    </ul>
    
<a href="/posts" class="btn">Go Back</a>
{% endblock %}